<!--SETTINGS-->

 
  <!-- /panel   
  
  <a href="#dashboard" data-direction="reverse" data-role="button" class="ui-btn-left"> BACK</a><spa>&nbsp;</span>-->
  <!--place your addition header - sections and footer here--> 
  <!--remember to put in a h1 identifier so you know you have reached the dashboard screen-->
  
  <section id="header-accessibility" data-role="content" data-theme="a" class="center custom-border page-identifier" style="height:35px;">
  <a  href="#newdashboard" accesskey="B" data-icon="back" class="ui-btn-left ui-link ui-btn ui-icon-back ui-btn-icon-left ui-shadow ui-corner-all" data-role="button">Back</a>
    <h3>Website accessibility</h3>
  </section>
  <section class="smallForm" data-role="content" role="main" style="background:#fff !important">
  <div id="wrapper">     
    <!--Main Content in Center of Screen-->
   <div data-role="content" class="ui-content" style="background:#fff !important">
   <h3>Access keys are keyboard shortcuts that provide links to important areas of the site. Windows users can press ALT + an access key for Google chrome browser. Apple Macintosh users can press CONTROL + an access key.

This website uses the following standard access keys:</h3>
		<ul>
		<li>Access key C - Analysis Page</li>
		<li>Access key I - Personal Information Page</li>
		<li>Access key S - Personal Statement</li>
		<li>Access key E - Education Section</li>
		<li>Access key W - Work Experience Section</li>
		<li>Access key B - Back Button</li>
		<li>Access key L - Logout</li>
		</ul>
    </div>	
	</div>
   </section>

<!-- /close page --> 

