<!--SETTINGS-->

 
  <!-- /panel   
  
  <a href="#dashboard" data-direction="reverse" data-role="button" class="ui-btn-left"> BACK</a><spa>&nbsp;</span>-->
  <!--place your addition header - sections and footer here--> 
  <!--remember to put in a h1 identifier so you know you have reached the dashboard screen-->
  
  <section id="header-settings" data-role="content" data-theme="a" class="center custom-border page-identifier" style="height:35px;">
  <a  href="#dashboard" data-direction="reverse" data-icon="back" class="ui-btn-left ui-link ui-btn ui-icon-back ui-btn-icon-left ui-shadow ui-corner-all" data-role="button">Back</a>
    <h4>Setting</h4>
  </section>
  <div id="wrapper">     
    <!--Main Content in Center of Screen-->
   <div data-role="content" class="ui-content" role="main">
  				<form id="settingForm">
                <label for="basic">Enter Web Address of Your Website:</label>
				<input type="text" data-theme="a" name="web" id="web" value="" placeholder="www.example.com"/>
                <button data-theme="a" class="ui-btn-hidden" aria-disabled="false">Submit</button>
                <span id="msg"> </span>
                </form>
    </div>
 
 </div>
<!-- /close page --> 

